<%# app/views/auth/verify.html.erb %>
<div class="breg">
<div class="box">
<div class="reg"></div>
  <div class="leading-relaxed text-lg text-center text-gray-600 user_link", style="margin-top: 30px; font-size: 20px" >
    <%= t 'auth.verify.info'%>
  </div>

  <%= form_with(url: auth_verifications_path, html: { class: "mt-6 text-center user_link" }) do |f| %>
    <%= f.label :phone, class: "flex items-center justify-between text-sm font-medium text-gray-700 mb-3 user_link", style: "margin-left: 20px; margin-top: 10px; font-size: 17px" do %>
      <%= link_to t('auth.verify.change'), auth_path, class: "user_link" %>
      <%= t 'auth.verify.phone'%>
    <% end %>
    <%= f.phone_field :phone, value: @phone, placeholder: "1234567890", class: "form-control rounded-md border-gray-300 bg-gray-100", disabled: true, style: 'width: 25%; display: initial;' %>
    <br>
    <%= f.label :phone, style: 'margin-top: 20px; margin-left: 20px; font-size: 17px', class: "flex items-center mt-3 justify-between text-sm font-medium text-gray-700 mb-1 mt-5 user_link" do %>
      <%= link_to  t('messages.resend_code'), auth_path(phone: @phone), method: :post, class: "text-gray-500 underline font-normal user_link" %>
      <%= t 'auth.verify.code'%>
    <% end %>
    <%= f.text_field :auth_code, class: "rounded-md border-gray-300 text-2xl tracking-widest form-control user_link", maxlength: 6, style: 'width: 25%; display: initial' %>
    <br>
    <%= f.submit t('auth.verify.button'), style: " margin-left: 24px; margin-top: 12px; font-size: 18px", class: "user_link btn btn-primary cursor-pointer flex relative justify-center items-center py-2 px-4 rounded-md font-medium leading-6 focus:outline-none transition-colors duration-150 ease-in-out border border-transparent text-white bg-pink-600 hover:bg-pink-500 focus:border-pink-300 focus:shadow-outline-gray mt-3" %>
</div>
</div>
<% end %>
