<!--<p id="notice"><%= notice %></p>-->
<table class="table table-hover table-bordered", style="width: 50%; margin: auto">
<thead>
  <tr><th>First</th><th>Last</th></tr>
</thead>
<tbody>
<tr>
  <td><strong>Date/time:</strong></td>
  <td><%= @log.created_at %></td>
</tr>

<tr>
  <td><strong>Status:</strong></td>
  <td><%= @log.status %></td>
</tr>

<tr>
  <td><strong>Url:</strong></td>
  <td><%= @log.url %></td>
</tr>

<tr>
  <td><strong>Path:</strong></td>
  <td><%= @log.path %></td>
</tr>

<tr>
  <td><strong>User inspect:</strong></td>
  <td><%= @log.user_inspect %></td>
</tr>

<tr>
  <td><strong>User:</strong></td>
  <td><%= @log.user_id %></td>
</tr>

<tr>
  <td><strong>Group:</strong></td>
  <td><%= @log.group_id %></td>
</tr>

<tr>
  <td><strong>Role:</strong></td>
  <td><%= @log.role_id %></td>
</tr>

<tr>
  <td><strong>Rank:</strong></td>
  <td><%= @log.rank %></td>
</tr>

<tr>
  <td><strong>Time spent:</strong></td>
  <td><%= @log.time_spent %></td>
</tr>

<tr>
  <td><strong>User agent:</strong></td>
  <td><%= @log.user_agent %></td>
</tr>

<tr>
  <td><strong>Ip:</strong></td>
  <td><%= @log.ip %></td>
</tr>

<tr>
  <td><strong>Request method:</strong></td>
  <td><%= @log.request_method %></td>
</tr>

<tr>
  <td><strong>Http host:</strong></td>
  <td><%= @log.http_host %></td>
</tr>

<tr>
  <td><strong>Exception class:</strong></td>
  <td><%= @log.exception_class %></td>
</tr>

<tr>
  <td><strong>Exception message:</strong></td>
  <td><%= @log.exception_message %></td>
</tr>
</tbody>
</table>
<%= link_to 'Back', logs_path, class: "btn btn-info", style: "color: white; margin-left: 25%; margin-top:20px" %>